<html ng-app="webApp">
  <head>

  	<title>Tour Advisor</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>

    <script src="resources/script.js"></script>
      <style>
          #results {
              height: 500px;
              overflow:auto;
          }

          #results .resultsLink {
              display: block;
              padding: 5px;
              border-bottom: 1px solid #eee;
              text-decoration: none;
              color: #000;
          }

          #results .resultsLink:hover {
            text-decoration: none;
          }
      </style>

  </head>
  <body ng-controller="globalController">
      <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Tour Advisor</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!loggedIn"><a href ng-click='goNext("/login")'><i class="fa fa-lock"></i> Login</a></li>
                    <li ng-show="!loggedIn"><a href ng-click='goNext("/register")'><i class="fa fa-lock"></i> Register</a></li>

                    <li ng-show="loggedIn"><a href>Welcome, {{ user.name }}</a></li>
                    <li ng-show="loggedIn"><a href ng-click="logout()">Logout</a></li>
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
            <div ng-view></div>
        </div>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCohUo0zV6gMR5h5Xj5Qf2jTq9a7Bt-Utc&libraries=places">
  </script>
</html>