<div class="container">
    <div class="jumbotron">
        <h3>Where do you want to go?</h3>

        <div class="form form-inline">

            <div class="form-group">
                <input id="pac-input" type="text" style="width:500px" class="form-control" placeholder="eg. New York, Bali, Bangkok"/>
            </div>

        </div>

    </div>

    <div class="col-md-12" style="padding: 0">
        <div class="col-md-8 col-xs-12 col-sm-7">
            <div id="map" style="display: block;width:100%;height:500px;"></div>
            <div id="infowindow-content">
                <span id="place-name"  class="title"></span><br>
                <span id="place-address"></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-5" style="padding: 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Places Nearby
                </div>
                <div class="panel-body">
                    <span ng-show="searching"><i class=""></i> Loading Places Nearby... </span>

                    <div id="results">
                        <a href class="resultsLink" ng-click="clickResult($index, result)" ng-repeat="result in searchResults">
                            <h4>{{ result.title }}</h4>
                            <p style="margin-bottom: 5px">{{ result.address }}</p>
                            <p><span class="label label-default" style="margin-right: 3px;" ng-repeat="type in parseJSON(result.type)">{{ formatType(type) }}</span></p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>