<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show="error">{{ errorMsg }}</div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" ng-model="email"/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="password"/>
            </div>

            <div class="form-group">
                <button class="btn btn-success" ng-click="doLogin()">Login</button> or <a href ng-click="goNext('/register')">Register</a>
            </div>

        </div>
    </div>
</div>